
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
//  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 1px;
}


.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

}


.example-is-mobile  {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;

}

.mat-sidenav-container, .mat-sidenav, .mat-sidenav-content {
  height: 100%;
  background-color: rgb(245, 245, 245);
}
.mat-sidenav {
  width:170px;
  
}

a {
  color: rgb(255, 255, 255);
}

a:hover, a:active {
  color: rgb(61, 85, 104);
}

.navigation-item {
  list-style: none;
  padding: 10;
  margin: 0;
}

.mat-toolbar.mat-primary {
  background: rgb(112, 173, 253);
  color: rgb(248, 248, 248);
  
}